<div class="product-add">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <h1>Add Product</h1>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Product Name</mat-label>
      <input matInput type="text" name="name" placeholder="name" ngModel>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput type="text" name="description" placeholder="description" ngModel></textarea>
    </mat-form-field>
    
    <div class="half-width">
      <mat-form-field class="item-half-width" appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="text" name="price" placeholder="Price" ngModel>
      </mat-form-field>

      <mat-form-field class="item-half-width" appearance="fill">
        <mat-label>Quantity</mat-label>
        <input matInput type="text" name="quantity" placeholder="Quantity" ngModel>
      </mat-form-field>
    </div>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Image Url</mat-label>
      <input matInput type="text" name="imageUrl" placeholder="name" ngModel>
    </mat-form-field>

    <div class="footer-btn">
      <button mat-raised-button class="btn-back"  [routerLink]="['/product/list']">Back To List
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <button mat-raised-button class="btn-add" type="submit" [disabled]="f.invalid">Add Product
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </form>
</div>
