.product-edit {
  margin:3% auto;
  min-width: min-content;
  width: 40%;

  .title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .full-width {
    width: 100%;
  }

  .half-width {
    display: flex;
    // justify-content: space-between;

    .item-half-width {
      flex: 1;
      width: 48%;
      &:first-child {
        margin-right: 2%;
        // margin-right: 10%;
      }
    }
  }

  .footer-btn {
      .btn-edit {
       background-color: #d1612d;
       color: white;
      }

      .btn-back {
        background-color: #0091EA;
        color: white;
       }
  }
}
