<div class="product">
  <div class="product-detail" *ngIf="product$ | async as product">
    <div class="title">
      <span>Product Detail</span>
    </div>

    <div class="content">
      <div class="product-img">
        <img src="{{ product.imageUrl }}">
      </div>
      <div class="data-text">
        <h4> {{ product.name }} </h4>
        <p>{{ product.description }} </p>

        <div class="data-number">
          <div>
            <mat-label>Price: </mat-label>
            {{ product.price | currency  }}
          </div>
          <div>
            <mat-label>Quantity: </mat-label>
            {{ product.quantity }}
          </div>
        </div>
      </div>

      <div>
        <button mat-raised-button color="warn" (click)="deleteProduct(product.id)">Delete
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button [routerLink]="['/product/edit', product.id]" color="primary">Edit
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
