.product-list {
    padding: 35px 20px;

    .add-product {
        .btn-add {
            background: #0080007d;
            color: white;

        }
    }
    
    .card-list {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        max-width: 67%;
        margin: auto;

        .mat-card-image {
            height: 170px;
            display: block;
        }

        .example-card {
            width: 250px;
             margin: 25px;
            box-sizing: border-box;
          }
    }

}
